*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
  body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
            color: black;
        }
        .game-container {
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 600px;
        }
        .result {
            margin: 20px 0;
        }
        .hidden {
            display: none;
        }
        a {
            color: black;
            text-decoration: underline;
        }
        button {
            background-color: #008CBA; /* Niebieski kolor przycisku */
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }
        button:hover {
            background-color: #006994; /* Ciemniejszy niebieski po najechaniu */
        }
        input {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .menu {
            background-color: #333;
            overflow: hidden;
        }
        .menu a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .menu a:hover {
            background-color: #ddd;
            color: black;
        }
